* {
    font-family: "Times New Roman", Times, serif;
}

#header {	
    text-align: center;
    background-color: #ec1e8f;
    border-top-left-radius: 16px;
    border-bottom-right-radius:16px;
    
    

}


#foto1 {
    width: 600px;
      height: 600px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    float: right;
    background-color: #247BA0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color:white;
    height: 22px;
    color: black;
    border-radius: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    caption-side: bottom;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #094074;
    color: white;
}

.footer {
    background-color: #5ADBFF;

    padding: 0.5em;
    text-align: right;
}
th:hover {
    background-color :blue;

}
tr:nth-child(even){
    background-color: blue;
    }
    tr:nth-child(odd){
    background-color: green;
    }
    #foto1:hover {
        border-radius: 16px;
        width: 200px;
        height: 200px;
        margin-left: 40px;
        margin-top: 40px;
      }
      tr td:hover{
        background-color: white
      }